In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("LEADINGCAUSESOFDEATH.csv")
data.head()

#to read about what columns contain: 
#https://github.com/potatochip/heart_disease_prediction/blob/master/datasets/Community%20Health%20Status%20Indicators%20(CHSI)%20to%20Combat%20Obesity%2C%20Heart%20Disease%20and%20Cancer%20Popular/DATAELEMENTDESCRIPTION.csv

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,F_Bl_Cancer,CI_Min_F_Bl_Cancer,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span
0,1,1,Autauga,Alabama,AL,29,-1111,-1111,-1111,-1111,...,19,14,23,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
1,1,3,Baldwin,Alabama,AL,16,57,39,75,-1111,...,20,15,25,-1111,-1111,-1111,-1111,-1111,-1111,2001-2003
2,1,5,Barbour,Alabama,AL,51,-1111,-1111,-1111,-1111,...,26,22,31,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
3,1,7,Bibb,Alabama,AL,42,-1111,-1111,-1111,-1111,...,20,14,25,-1111,-1111,-1111,-1111,-1111,-1111,1994-2003
4,1,9,Blount,Alabama,AL,28,34,17,52,-1111,...,28,10,46,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003

In [3]:
data.columns

Index(['State_FIPS_Code', 'County_FIPS_Code', 'CHSI_County_Name',
       'CHSI_State_Name', 'CHSI_State_Abbr', 'Strata_ID_Number', 'A_Wh_Comp',
       'CI_Min_A_Wh_Comp', 'CI_Max_A_Wh_Comp', 'A_Bl_Comp',
       ...
       'F_Bl_Cancer', 'CI_Min_F_Bl_Cancer', 'CI_Max_F_Bl_Cancer',
       'F_Ot_Cancer', 'CI_Min_F_Ot_Cancer', 'CI_Max_F_Ot_Cancer',
       'F_Hi_Cancer', 'CI_Min_F_Hi_Cancer', 'CI_Max_F_Hi_Cancer',
       'LCD_Time_Span'],
      dtype='object', length=235)

In [4]:
data.shape

(3141, 235)

In [5]:
data.dtypes

State_FIPS_Code        int64
County_FIPS_Code       int64
CHSI_County_Name      object
CHSI_State_Name       object
CHSI_State_Abbr       object
                       ...
CI_Max_F_Ot_Cancer     int64
F_Hi_Cancer            int64
CI_Min_F_Hi_Cancer     int64
CI_Max_F_Hi_Cancer     int64
LCD_Time_Span         object
Length: 235, dtype: object

#### Let's remove nan data

In [6]:
data.isna().sum()

State_FIPS_Code       0
County_FIPS_Code      0
CHSI_County_Name      0
CHSI_State_Name       0
CHSI_State_Abbr       0
                     ..
CI_Max_F_Ot_Cancer    0
F_Hi_Cancer           0
CI_Min_F_Hi_Cancer    0
CI_Max_F_Hi_Cancer    0
LCD_Time_Span         0
Length: 235, dtype: int64

In [7]:
data=data.dropna(axis=0)
data.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,F_Bl_Cancer,CI_Min_F_Bl_Cancer,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span
0,1,1,Autauga,Alabama,AL,29,-1111,-1111,-1111,-1111,...,19,14,23,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
1,1,3,Baldwin,Alabama,AL,16,57,39,75,-1111,...,20,15,25,-1111,-1111,-1111,-1111,-1111,-1111,2001-2003
2,1,5,Barbour,Alabama,AL,51,-1111,-1111,-1111,-1111,...,26,22,31,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
3,1,7,Bibb,Alabama,AL,42,-1111,-1111,-1111,-1111,...,20,14,25,-1111,-1111,-1111,-1111,-1111,-1111,1994-2003
4,1,9,Blount,Alabama,AL,28,34,17,52,-1111,...,28,10,46,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003

In [8]:
data.shape

(3141, 235)

**No change in shape, so there is no any nan data** 🙏🏽

### Let's analyze time span of leading cause of death

In [16]:
#LCD_Time_Span-->Time period of reported data for national leading causes of death

data[['LCD_Time_start','LCD_Time_end']]=data.LCD_Time_Span.str.split('-',expand=True).astype('int64')
#expand: Boolean value, returns a data frame with different value in different columns if True. 
#Else it returns a series with list of strings.

In [17]:
data[['County_FIPS_Code','CHSI_County_Name','LCD_Time_start','LCD_Time_end']].head()

   County_FIPS_Code CHSI_County_Name  LCD_Time_start  LCD_Time_end
0                 1          Autauga            1999          2003
1                 3          Baldwin            2001          2003
2                 5          Barbour            1999          2003
3                 7             Bibb            1994          2003
4                 9           Blount            1999          2003

#### In which year, LCD reported is high??

In [12]:
data['LCD_Time_start'].value_counts()

1994    1617
1999    1016
2001     508
Name: LCD_Time_start, dtype: int64

In [13]:
data['LCD_Time_end'].value_counts()

2003    3141
Name: LCD_Time_end, dtype: int64

*so, LCD is high in (1994-2003)*

#### In which country, LCD reported is high?

In [14]:
data['CHSI_County_Name'].value_counts()

Washington      32
Jefferson       26
Franklin        25
Lincoln         24
Jackson         24
                ..
Hubbard          1
Woodruff         1
Bedford City     1
New Haven        1
Lynn             1
Name: CHSI_County_Name, Length: 1847, dtype: int64

*So, LCD is high in country name Washington*

### Let's analyse County data injuries

In [19]:
data[['B_Wh_Injury','B_Bl_Injury','B_Ot_Injury','B_Hi_Injury','C_Wh_Injury','C_Bl_Injury','C_Ot_Injury','C_Hi_Injury','D_Wh_Injury','D_Bl_Injury','D_Ot_Injury','D_Hi_Injury']].head()

,B_Wh_Injury,B_Bl_Injury,B_Ot_Injury,B_Hi_Injury,C_Wh_Injury,C_Bl_Injury,C_Ot_Injury,C_Hi_Injury,D_Wh_Injury,D_Bl_Injury,D_Ot_Injury,D_Hi_Injury
0,-1111,-1111,-1111,-1111,-1111,-1111,-1111,-1111,24,24,-1111,-1111
1,-1111,-1111,-1111,-1111,63,-1111,-1111,-1111,30,13,-1111,-1111
2,-1111,-1111,-1111,-1111,-1111,-1111,-1111,-1111,18,19,-1111,-1111
3,-1111,-1111,-1111,-1111,63,-1111,-1111,-1111,29,24,-1111,-1111
4,-1111,-1111,-1111,-1111,64,-1111,-1111,-1111,22,-1111,-1111,-1111

**what does -1111 means??**

### Let's remove -1111 from dataset and see how many data remains

In [25]:
import numpy as np
for val in data.columns:
    data[val].replace({-1111:np.nan}, inplace=True)
data.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span,LCD_Time_start,LCD_Time_end
0,1,1,Autauga,Alabama,AL,29,NaN,NaN,NaN,NaN,...,23.0,NaN,NaN,NaN,NaN,NaN,NaN,1999-2003,1999,2003
1,1,3,Baldwin,Alabama,AL,16,57.0,39.0,75.0,NaN,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,2001-2003,2001,2003
2,1,5,Barbour,Alabama,AL,51,NaN,NaN,NaN,NaN,...,31.0,NaN,NaN,NaN,NaN,NaN,NaN,1999-2003,1999,2003
3,1,7,Bibb,Alabama,AL,42,NaN,NaN,NaN,NaN,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,1994-2003,1994,2003
4,1,9,Blount,Alabama,AL,28,34.0,17.0,52.0,NaN,...,46.0,NaN,NaN,NaN,NaN,NaN,NaN,1999-2003,1999,2003

In [26]:
data.dropna(axis=0)

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span,LCD_Time_start,LCD_Time_end
249,8,14,Broomfield,Colorado,CO,27,-2222.0,-2222.0,-2222.0,-2222.0,...,-2222.0,-2222.0,-2222.0,-2222.0,-2222.0,-2222.0,-2222.0,1999-2003,1999,2003

## Load previous dataset

In [27]:
data=pd.read_csv("LEADINGCAUSESOFDEATH.csv")
data.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,F_Bl_Cancer,CI_Min_F_Bl_Cancer,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span
0,1,1,Autauga,Alabama,AL,29,-1111,-1111,-1111,-1111,...,19,14,23,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
1,1,3,Baldwin,Alabama,AL,16,57,39,75,-1111,...,20,15,25,-1111,-1111,-1111,-1111,-1111,-1111,2001-2003
2,1,5,Barbour,Alabama,AL,51,-1111,-1111,-1111,-1111,...,26,22,31,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
3,1,7,Bibb,Alabama,AL,42,-1111,-1111,-1111,-1111,...,20,14,25,-1111,-1111,-1111,-1111,-1111,-1111,1994-2003
4,1,9,Blount,Alabama,AL,28,34,17,52,-1111,...,28,10,46,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003